$primary: #16a085;
$dark: #333;
$darker: #36454f;
$black: #000;
$font: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
